* {
  font-family: IRANSans;
}

body {
  background: linear-gradient(to top, #C4E4FF, rgb(255, 255, 255)) no-repeat;
  padding: 8px;
}

@font-face {
  font-family: IRANSans;
  src: url(IRANSans_Medium.ttf);
}
.calculator {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 15px;
  padding: 10px;
  margin: 1% auto 0 auto;
  gap: 10px;
  width: 500px;
  box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.133), 0px 7px 10px 0px rgba(0, 0, 0, 0.133) inset;
  background-color: rgba(255, 255, 255, 0.621);
}

#b-1 {
  position: absolute;
  top: 10%;
  left: 20%;
  width: 40vh;
  height: 40vh;
  border-radius: 100vh;
  pointer-events: none;
  z-index: -1;
  filter: blur(30PX);
  background-color: #41C9E2;
}

#b-2 {
  position: absolute;
  bottom: 10%;
  right: 20%;
  width: 40vh;
  height: 40vh;
  border-radius: 100vh;
  pointer-events: none;
  z-index: -1;
  filter: blur(30PX);
  background-color: #FAA300;
}

.dial-pad {
  display: grid;
  margin: 10px;
  gap: 10px;
  grid-template-columns: 6fr 1fr;
}

.numbers {
  grid-column-start: 1;
  grid-column-end: 1;
  display: block;
  align-items: center;
  justify-content: center;
}

.number {
  scale: 1;
  transition: 0.252s;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  font-size: 40px;
  background-color: rgb(241, 243, 255);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.258);
  border: none;
  border-radius: 100px;
  margin: 5px;
  height: 100px;
  width: 100px;
  scale: 1;
}
.number::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 119, 255, 0.3215686275);
  scale: 1.3;
  border-radius: 100px;
  opacity: 0;
}
.number:active {
  scale: 0.85;
}
.number:active::before {
  animation-name: fade-btn;
  animation-duration: 0.25s;
}
@keyframes fade-btn {
  0% {
    opacity: 1;
    scale: 0.5;
  }
}
.number:hover {
  background-color: rgba(237, 237, 237, 0.741);
}

.operators {
  grid-column-start: 2;
  grid-column-end: 2;
  display: grid;
  align-items: center;
  justify-content: center;
}
.operators .equal {
  background-color: #00DFA2;
}
.operators button {
  scale: 1;
  transition: 0.252s;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  font-size: 30px;
  margin: 5px;
  height: 70px;
  width: 70px;
  background-color: #515151;
  border: none;
  font-weight: bold;
  text-align: center;
  border-radius: 20px;
  color: white;
}
.operators button::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 119, 255, 0.3215686275);
  scale: 1.3;
  border-radius: 30px;
  opacity: 0;
}
.operators button:active {
  scale: 0.85;
}
.operators button:active::before {
  animation-name: fade-btn;
  animation-duration: 0.25s;
}
@keyframes fade-btn {
  0% {
    opacity: 1;
    scale: 0.5;
  }
}
.operators button:hover {
  opacity: 0.7;
}
.operators .clear-btn {
  background-color: #FF0060;
}

.screen {
  margin: 7px auto 10px auto;
  width: 95%;
  border-radius: 20px;
  display: flex;
  align-content: center;
  border-radius: 10px;
  padding: 5px 0;
  font-size: 40px;
}
.screen input {
  width: 80%;
  font-size: 40px;
  border: 2px solid #0079FF;
  outline: none;
  background-color: rgb(238, 238, 238);
  border-radius: 14px;
  padding: 10px 20px;
  background-color: rgb(241, 243, 255);
}

.history-btn {
  cursor: pointer;
  width: 20%;
  border: none;
  display: block;
  margin: 0 0 0 10px;
  font-size: 20px;
  color: white;
  text-align: center;
  background-color: #0079FF;
  border-radius: 14px;
  position: relative;
  scale: 1;
  transition: 0.252s;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
}
.history-btn::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 119, 255, 0.3215686275);
  scale: 1.3;
  border-radius: 30px;
  opacity: 0;
}
.history-btn:active {
  scale: 0.85;
}
.history-btn:active::before {
  animation-name: fade-btn;
  animation-duration: 0.25s;
}
@keyframes fade-btn {
  0% {
    opacity: 1;
    scale: 0.5;
  }
}
.history-btn svg {
  width: 30px;
  height: 30px;
  fill: rgb(255, 255, 255);
}

.history-panel {
  border: none;
  position: absolute;
  width: 500px;
  padding: 10px;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.545);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  z-index: 1;
  animation-name: history;
  animation-duration: 0.4s;
  animation-direction: alternate;
  display: none;
}

@keyframes history {
  0% {
    opacity: 0;
    height: 0;
    top: 40px;
  }
  100% {
    opacity: 1;
  }
}
.delete-item {
  background-color: red;
}

.history-item {
  display: block;
  font-size: 30px;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  position: relative;
}
.history-item .delete-item {
  position: absolute;
  display: block;
  right: 0;
  top: 0;
}

.history-header {
  background-color: rgba(176, 176, 176, 0.262);
  position: sticky;
  display: flex;
  justify-content: space-between;
  top: 0;
  right: 0;
  left: 0;
  border-radius: 17px;
  padding: 10px;
  text-align: right;
}
.history-header .close-panel-btn {
  font-size: 40px;
  font-weight: light;
  width: 70px;
  border: none;
  margin: 10px;
  height: 71px;
  transition: 0.4s;
  background-color: rgba(255, 0, 98, 0);
  color: rgb(0, 0, 0);
  border-radius: 10px;
  cursor: pointer;
}
.history-header .close-panel-btn:hover {
  background-color: rgba(177, 177, 177, 0.337254902);
}
.history-header .close-panel-btn:active {
  scale: 0.85;
}
.history-header .history-title {
  display: block;
  font-size: 20px;
  padding: 0 10px;
  font-weight: light;
}

.second-screen {
  color: #00DFA2;
  font-weight: bold;
  margin: 0 auto 0px auto;
  width: 95%;
  font-size: 40px;
  border-radius: 20px;
  align-content: center;
  border-radius: 10px;
  padding: 5px 14px;
}

.result {
  top: 0;
  position: absolute;
  font-size: 40px;
  font-weight: bold;
  color: #00DFA2;
  animation-name: slide;
  animation-duration: 500ms;
  animation-direction: alternate;
}
@keyframes slide {
  0% {
    opacity: 0.2;
  }
  50% {
    top: -10px;
  }
}

.result-small {
  font-size: 27px;
}/*# sourceMappingURL=style.css.map */